<app-header text="Alert"></app-header>

<!-- <ion-header>
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="Atras" mode="ios" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title>alert</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
    <ion-button (click)="presentAlert()" expand="block">
      Alerta
    </ion-button>

    <ion-button (click)="presentAlertMultipleButtons()" expand="block">
      Alerta Multi Botones
    </ion-button>

    <ion-button (click)="presentAlertPrompt()" expand="block">
      Alerta Prompt
    </ion-button>
</ion-content>
